[2013-04-06 18:11] technosophos opened #1 "XML Namespaces in HTML5 documents not always working"
Sporadically I have seen XML namespace errors in the parser, or cases where the parser ignores an XML namespace declaration.

[2013-04-06 18:29] technosophos opened #2 "CDATA sections parsed as comments, not CDATA."
The HTML5 spec supports CDATA sections, but the parser converts CDATA (incorrectly) into a comment section:

[code]

[2013-05-19 02:03] mattfarina opened #3 "PHP Strict error messages"
[code]

I've been getting these errors when running example.php.

[2013-05-25 18:58] #3 closed, assigned to nobody

[2013-05-25 18:59] #2 closed, assigned to nobody

[2013-05-25 18:59] technosophos opened #4 "MathML and SVG not tested."
Neither MathML nor SVG have been fully tested.

[2013-05-29 01:38] mattfarina opened #5 "Test suite failing on PHP 5.4"
The codebase is now running through Travis CI. And, it shows some tests are failing in PHP 5.4. See https://travis-ci.org/Masterminds/html5-php/jobs/7584913 for more details.

[2013-05-29 21:16] #5 closed, assigned to nobody

[2013-05-30 13:45] mattfarina opened #6 "Doctype is case sensitive and should not be"
For reference: http://www.w3.org/TR/2011/WD-html5-20110525/syntax.html#the-doctype

The doctype declaration should be case insensitive. But, the parser is currently case sensitive to uppercase.

[2013-05-30 14:24] #6 closed, assigned to nobody

[2013-06-10 02:24] mattfarina opened #7 "Some Tag attributes are case sensitive"
Some tag attributes are case sensitive. This happens when something like svg is embedded. So, not all attribute names should be converted to lowercase.

For ref on SVG see http://www.w3.org/Graphics/SVG/WG/wiki/SVG_in_HTML5

[2013-06-18 02:53] #7 closed, assigned to nobody

[2013-06-18 13:30] #4 closed, assigned to nobody

[2013-06-18 13:34] mattfarina opened #8 "Add support for parsing and serializing document fragments"

[2013-06-26 20:45] #8 closed, assigned to nobody

[2013-06-28 12:55] #1 closed, assigned to nobody

[2013-07-23 20:16] technosophos opened #10 "Create CREDITS file"
Create a CREDITS file and add entry for #9 .

[2013-08-04 15:57] MrElectronic opened #11 "No line break after <html>"
Hi

I tried the example from the README file and the result was that the line break after the <html> tag was remove:

Input:

[code]

Output:

[code]

It looks like it was the only line where input and output were different.

Br.
Rune Christensen

[2013-08-04 16:28] MrElectronic opened #12 "Does this HTML5 parser support xml namespace attributes?"
Hi

I have the following custom HTML5 file that I want to load and parse in PHP.

[code]

I want to be able to use XPath to search for different attributes in the custom HTML5 file e.g. $xpath->query("//*[@tpl:replace]");

But it will not find anything. When I used the loadHTML from the DOMDocument in PHP then it will find all three places where tpl:replace are present in the custom HTML5 document

[2013-08-07 10:31] sa-tasche opened #13 "No inner DOMText if getElementById is used"
Given:
    <?php
    $string = <<<'EOD'
    <html><span id="test">Test</span></html>
    EOD;
    $html5 = \HTML5::loadHTML($string);
    print \HTML5::saveHTML($html5->getElementById('test'));
    ?>

Then:
    $html5->getElementById('test') is empty.

(Do I use it wrong?)

[2013-08-08 17:30] sa-tasche opened #14 "Couldn't fetch DOMText. Node no longer exists"
[code]

Error:

[code]

[2013-08-08 20:53] #14 closed, assigned to nobody

[2013-08-08 23:54] sa-tasche opened #15 "Documentation"
We need documentation.

[2013-08-10 13:28] #11 closed, assigned to mattfarina

[2013-08-10 14:08] #10 closed, assigned to mattfarina

[2013-08-27 19:39] #12 closed, assigned to nobody

[2013-09-13 21:37] MrElectronic opened #16 "ProcessorInstructions not working"
Hi

Was trying to use the processor instruction functionality but got a fatal error

[code]

It looks like the error is placed in line 364:

[code]

I think that it should be changed to

[code]

Br.
Rune

[2013-09-15 15:44] MrElectronic opened #17 "Tokenizer quotedString function failure"
Hi

I was trying to use the function quotedString from Tokenizer.php but it failed and I changed line 717 from:

[code]

to:

[code]

And now it works correctly in my PHP script.

Br.
Rune

[2013-09-15 19:17] #17 closed, assigned to nobody

[2013-09-15 19:34] #16 closed, assigned to mattfarina

[2013-09-15 20:08] #13 closed, assigned to nobody

[2013-09-18 15:48] #15 closed, assigned to mattfarina

[2013-09-26 16:38] mattfarina opened #18 "require-dev"
The `require-dev` elements listed in the `composer.json` file are installed by default. That means every place someone installed this library they will also be installing phpunit and the symfony yaml parser in the vendor directory.

@technosophos should we pull or leave `require-dev` for phpunit?

[2013-09-26 20:29] #18 closed, assigned to nobody

[2013-10-28 19:11] ircmaxell opened #19 "Unescaped Output"
The serializer currently is not encoding data properly for output. This enables certain documents to be crafted which can expose XSS vulnerabilities. For example, the [cdata serializer](https://github.com/Masterminds/html5-php/blob/master/src/HTML5/Serializer/OutputRules.php#L111) just outputs the text directly. When crafted with a malicious payload, this results in an attack vector:

[code]

This

[2013-11-01 15:00] #19 closed, assigned to mattfarina

[2013-11-04 02:53] sagan opened #20 "Parse error"
Hi, I encounter some problems when parsing html  which contains certain elments:

HTML:

[code]

PHP:

[code]

What I get is a wrong result:

[code]

It works well using DOMDocument::loadHTML parsing the same test html file.

[2013-11-04 22:00] #20 closed, assigned to nobody

[2014-01-13 11:57] J7mbo opened #21 "Validate a HTML5 string"
I'm trying to use your library to validate a HTML5 string. `DOMDocument::validate()` is the method I would be using.

[code]

I get the following error:

[code]

I presume this is something to do with requiring a dtd schema, although I presumed that (as your library is specific to HTML5), this would be handled. Can you tell me if it's possible to use your library to achieve what I require and if s

[2014-01-13 12:18] #21 closed, assigned to nobody

[2014-01-28 09:46] miso-belica opened #23 "Invalid Character Error"
Hi,
when I'm trying to parse URL http://e107.funsite.cz/ I get `DOMException("Invalid Character Error", 5)` because of one unclosed tag in the markup. The snippet below causes the exception. It is caused by trying to set attribute with name `<div` in [DOMTreeBuilder.php](https://github.com/Masterminds/html5-php/blob/master/src/HTML5/Parser/DOMTreeBuilder.php#L237). As I understand from the doc all

[2014-02-05 12:43] miso-belica opened #26 "Error with parsing when HTML tags uppercased"
Hi,
I discovered some weird behavior at this page http://rayer.g6.cz/. I also pasted source HTML here http://pastebin.com/FQjSEGCK .

Everything from the text in `html > head > title` is escaped (even `</TITLE>` tag). I find out that if I use function `strtolower` like this `\HTML5::loadHTML(strtolower($html))` HTML is parsed correctly. Can you look at this please?

Thank you for your work - I can

[2014-02-08 04:11] #26 closed, assigned to nobody

[2014-02-21 16:42] #23 closed, assigned to nobody

[2014-03-29 16:56] miso-belica opened #30 "Exception is thrown for wrong tag names"
Hi,
I noticed some issues with pages that contain wrong tag names. I really don't know how to deal with the issue so maybe you find the solution. Below is the list of the pages with names of tag that are invalid. Exception `DOMException#5: Invalid Character Error` is always thrown at `DOMTreeBuilder.php:227` by method `DOMDocument::createElement`. Every solution, except throwing the exception, is

[2014-04-30 01:57] #30 closed, assigned to nobody

[2014-05-01 23:44] RavenHursT opened #32 "In-line style tag content is getting encoded"
I have the following style tag in a page that I'm parsing w/ html5-php: http://www.diffchecker.com/k3opxnf5

As you can see, the CSS is getting broken by the parser because it's encoding characters in the CSS into HTML entities ("&gt;" for example).

Any idea how I can work around this?

Thanks.

[2014-05-07 08:23] goetas opened #33 "Better error handling (HHVM compatibility)"
Hi!
I suggest to change error handling in `DOMTreeBuilder`. (
https://github.com/Masterminds/html5-php/blob/master/src/HTML5/Parser/DOMTreeBuilder.php#L79)

Injecting a `errors` property to `DOMDocument` is not so clean and won't always work, especially on HHVM.

[2014-05-12 06:58] goetas opened #35 "PHP Documentor"
`phpdocumentor/phpdocumentor` in `compser.json` is really neded?

It requires a lot of dependencies to be downloaded in build phase...

[2014-05-12 21:47] #35 closed, assigned to nobody

[2014-05-14 15:53] goetas opened #39 "PSR-1/PSR-2"
What about change the coding standard? (With the incoming 2.0 release?)

[2014-05-14 15:53] #33 closed, assigned to nobody

[2014-05-18 00:14] KitaitiMakoto opened #40 "Wrong text mode for title element?"
Hello,

Thanks for the nice library. I installed and tried this HTML5 lib.

And founded that handling of entity references in title element is wrong like this:

[code]

[code]

In example above, `&#x27;` should be decoded as `'`(quotation) but actually doesn't.

If I set text mode for `title` element to 81, the entity ref is decoded properly:

[code]

[code]

I've intended to send a pull request b

[2014-05-26 15:12] goetas opened #42 "loadHTML skips whitespace after <html> tag"
[code]

The value of $out is:

[code]

Spaces between `html`  and `head` has been removed

[2014-05-28 14:44] #42 closed, assigned to nobody

[2014-05-30 07:46] goetas opened #43 "About namespaces..."
Reading http://www.w3.org/TR/html51/syntax.html#the-before-html-insertion-mode

Especially:
_A start tag whose tag name is "html"_
_Create an element for the token in the HTML namespace, with the Document as the intended parent. Append it to the Document object. Put this element in the stack of open elements._

HTML namespace should be: http://www.w3.org/1999/xhtml

Does this implies that line htt

[2014-05-30 14:05] #40 closed, assigned to nobody

[2014-06-10 01:10] #32 closed, assigned to nobody

[2014-06-10 20:03] goetas opened #46 "Switch to Masterminds vendor namespace"
Switch all classes from `HTML5` namespace to `Masterminds\HTML5` namespace

[2014-06-12 11:01] #46 closed, assigned to goetas

[2014-06-12 11:01] #39 closed, assigned to nobody

[2014-06-12 13:52] #43 closed, assigned to nobody

[2014-07-31 19:52] Crusse opened #56 "The input "<p>0</p>" is not handled correctly"
[code]

Result:

[code]

I'm using html5-php 2.0.0 and PHP 5.3.3-7+squeeze15.

[2014-08-01 06:52] #56 closed, assigned to nobody

[2014-08-04 10:28] Crusse opened #57 "Doc returned by loadHTML doesn't work with DOMXPath"
[code]

PHP 5.3.3.

[2014-08-04 10:33] #57 closed, assigned to nobody

[2014-09-23 08:44] dingsda87 opened #59 "Problem with loadHTMLFragment()"
hello,

i just started using your html5-parser and i'm trying to load a fragment.

using the code shown in the wiki it's no problem:

[code]

but when i try to parse other tags it's not working.
for example this code

[code]

error shown:

stacktrace:

|  | Function | Location |
| --- | --- | --- |
| 1 | {main}( ) | ..\index.php:0 |
| 2 | Masterminds\HTML5->loadHTMLFragment( ) | ..\index.php:21 |

[2014-09-23 09:50] #59 closed, assigned to nobody

[2014-09-30 08:03] v1nc3n4 opened #60 "Traverser error when saving an empty string previously loaded"
Hello,

After install, running an extreme test with an empty input string leads to the following error:

[code]

Here's the script executed with a PHP 5.5 CLI interpreter:

[code]

To me, the library shall throw an exception when it is not able to deal with the input data. What if I push an object, integer, resource in loadHTML? What will happen?
Thanks for your help!
Vincent

[2014-10-14 06:11] #60 closed, assigned to nobody

[2014-10-28 18:42] DevSysEngineer opened #62 "DOMElement::setIdAttribute(): ID loading already defined"
Hello,

Sometimes i get strange error:

[code]

I don't know what the input is, but i hope you can help me?

[2014-11-23 00:16] zhaofengli opened #63 "Tag names with strange capitalisation"
The parser fails when it encounters a tag name with strange capitalisation (e.g. `<Title>`, `<titlE>`, etc). For example, this script

[code]

outputs:

[code]

The HTML supplied is valid.

[2014-11-28 10:12] wimleers opened #65 "Elements with dashes (Web Components support)"
Over at https://www.drupal.org/node/1333730, we're working on pulling in `masterminds/html5` via Composer into Drupal 8 core. But we're running into a problem: this library doesn't seem to support elements with dashes.

Elements with dashes are necessary for Web Components support (http://w3c.github.io/webcomponents/spec/custom/). However, technically, the Web Components spec is non-normative (htt

[2014-12-02 02:51] #65 closed, assigned to nobody

[2014-12-04 03:56] jslegers opened #67 "Using an existing DOMDocument or subclass as target for parsed data"
**_[PHPPowertools/DOM-Query](https://github.com/PHPPowertools/DOM-Query)**_ is the first component of the **_[PHPPowertools](https://github.com/PHPPowertools)**_ framework that has been released to the public. It's purpose is similar to that of **_[technosophos/querypath](https://github.com/technosophos/querypath)**_ but it's implementation is far more true to both jQuery's syntax and its semantic

[2014-12-04 10:34] wimleers opened #68 "Non-inline elements being moved outside of inline containers automatically"
In the current Drupal 8 test coverage, which still uses PHP's `DomDocument` (and hence makes assertions based on a XHTML POV), we have the following two assertions:

[code]

The second still works with `HTML5`. The first doesn't.

Instead of moving the `<hr>` outside of the `<p>`, it keeps it inside:

[code]

---

Looking at `\MasterMinds\HTML5\Elements`, I see:

[code]

So it's definitely marked

[2014-12-04 16:28] #67 closed, assigned to nobody

[2014-12-16 15:26] #68 closed, assigned to nobody

[2014-12-17 20:31] #63 closed, assigned to nobody

[2014-12-24 16:51] ebeyrent opened #71 "Convert to raw text without tags?"
Years ago, I was using simple_html_dom to read in an HTML file and convert it to raw text for indexing in Apache Solr.

I'm in the process of converting those code to your library - is there a similar mechanism?  If not, how do you recommend adding this functionality?  Do I add a class that implements the RulesInterface?

[2014-12-24 17:19] #71 closed, assigned to nobody

[2015-01-08 14:46] joejoseph00 commented on #68
according to the latest tests by @babruix of the latest checkout of the html5-php library he's observing this behavior:
`<?php
Html::normalize('<p>line1<br/><hr/>line2</p>')
?>`
becomes
`<p>line1<br><hr>line2</p>`
and he expects it to be
`<p>line1<br/></p><hr/>line2`

however after reading this issue queue, I'd expect it to be:
`<p>line1<br></p><hr>line2`
or
`<p>line1<br></p><hr>line2<p></p>`

Rig

[2015-01-08 15:20] technosophos commented on #68
Before we dive into special casing logic to satisfy Drupal unit tests... this parser is supposed to adhere to the HTML5 standard. I can't find any relevant portion of the spec that suggests how the above should be addressed. I cannot find a prohibition against using block-level tags inside of p. (In fact, there are examples of block-level tags inside of p in the spec.)

Here's the line I would lik

[2015-01-08 18:59] joejoseph00 commented on #68
Hi Technosophos, thanks for the update, so you're saying the drupal unit test in question needs to be verified with the w3.org spec spec http://www.w3.org/TR/2014/REC-html5-20141028/ with regards to the failed unit test case we're observing. Thank you for your assistance

[2015-01-09 15:21] technosophos commented on #68
Yes. Or at least giving more of an explanation for why one reconstruction of a broken DOM is more "correct" than another.

[2015-01-09 19:46] mattfarina commented on #68
@joejoseph00 I noticed the expectation of `<p>line1<br/></p><hr/>line2` you shared from @babruix is in an xml/xhtml form. html5 is not xml based. For example, instead of `<br/>` you have `<br>`. The former is a self closing format in xml. The latter is the html5 format.

Could it be you're dealing with markup as if it's xhtml/xml rather than html?

[2015-01-29 11:55] DrColossos commented on #68
We just discovered the same issue. We want to use just <br> or <img> without a bracket and are not able to do this because of "errors" reminding us that this is not valid. We provide a proper HTML5 document though

 @goetas  @technosophos Should I open a new issue with this or is this related to this issue?

[2015-01-30 01:52] technosophos commented on #68
I think we should track it as a separate issue. Some sample code would be good, too.

[2015-02-01 11:10] zhaofengli opened #75 "Whitespace in the end tag of RCDATA tags"
The parser is confused if you add whitespaces into `</title>`, like:
[code]
Both examples above are valid according to the W3 Validator.

This behaviour is caused by [Tokenizer.php](https://github.com/Masterminds/html5-php/blob/master/src/HTML5/Parser/Tokenizer.php#L203) which assumes the end tag is always exactly `</title>`.

## Test script
[code]
### Output
[code]
## Real-world examples
- http:/

[2015-02-02 14:56] technosophos commented on #75
This looks good to me. Good catch. And thanks for including the tests.

[2015-02-02 17:03] #75 closed

[2015-03-05 22:31] mattbucci opened #78 "characters following an ampersand are removed if it is not encoded prior to parsing"
noticed an issue on our site today.

we had the characters R&D in our html. Obviously this should be R &a mp; D to be accurate, however when html5-php parses this, it parses it to R&amp;

I'm assuming this is because &D isn't an html entity so it defaults to the &amp; I would have expected the output to be R &a mp; D though.

[2015-03-08 17:31] mattfarina commented on #78
I can reproduce this. It appears to be a problem in the entity parsing code.

[2015-03-08 17:39] #78 closed

[2015-03-08 17:39] mattfarina commented on #78
@mattbucci There is a fix on master. Please give this a try and let me know if there are any problems.

[2015-03-17 08:16] kandy opened #79 "Rename HTML to Html to follow PSR"

[2015-03-17 10:26] goetas commented on #79
Big BC break, for a really small benefit. Maybe with 3.0... not planned yet.

[2015-03-17 11:05] kandy commented on #79
So, can I fork it, rewrite and publish with my VendorName?

[2015-03-17 11:30] goetas commented on #79
You may always fork it. But packagist.org discourages submitting forks (see [here](https://packagist.org/packages/submit))

BTW, [PRS-0](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-0.md) says notthing about the "char-case" of namespace.

BTW i do not see a big deal of having a different naming for the namespace.

[2015-03-17 16:22] mattfarina commented on #79
@goetas I believe the issue is on [PSR-1](http://www.php-fig.org/psr/psr-1/) where it notes classes must use StudlyCaps. I ran into this on a UUID library I worked on where the expectation was Uuid would be used. You can see this on libraries like symfony/yaml (where yaml is Yaml).

If this were to be done it would need to be done in the 3.x.x version of the library per semantic versioning. It's a

[2015-03-17 16:31] goetas commented on #79
@mattfarina Can we release the 3.0 right now? (same as guzzle 5 that was released some weeks after the 4.0 release...)

[2015-03-17 16:52] itmen669 opened #80 "Very long-running"
Source:
![image](https://cloud.githubusercontent.com/assets/10218654/6692562/650282ca-ccde-11e4-9e09-defe790d79f0.png)
Output:
![image](https://cloud.githubusercontent.com/assets/10218654/6692584/861ce52c-ccde-11e4-8011-792b637821e3.png)

$html contains doctype HTML 4.01, total size 37 KB

[2015-03-17 17:56] goetas commented on #80
Can you test separately the load and save methods?
Il 17/mar/2015 17:52 "Michael" <notifications@github.com> ha scritto:

[2015-03-17 19:33] mattfarina commented on #79
@goetas I don't see why couldn't do a 3.0 release soon. I would like to hear @technosophos weight in. Is there any other API breaking change you would want to see?

[2015-03-17 19:34] mattfarina commented on #80
@Itmen669 could you share your example HTML? I would be curious to run some of my own numbers on it to trace what's going on.

[2015-03-18 14:30] technosophos commented on #79
Ugh... yet another PSR that requires dumb changes. I so much love introducing compatibility-breaking changes in the name of sticking with yet another arbitrary decision. *sigh*

I would be okay with doing a quick release and then renaming.

[2015-03-18 22:38] goetas commented on #79
I do not have any other change to introduce... except of renaming the HTML class.

[2015-03-23 23:00] mattfarina commented on #79
I just release 2.1.1 with the latest bugfix.

Now is the time if someone wants to roll a 3.0.0 with this change. Any takers? I don't have time right now.

[2015-03-29 03:54] Itmen669 commented on #80
@mattfarina aww, I was getting html from a third-party site. http://yaplakal.com
HTML can be changed over time, sorry.

[2015-04-03 20:21] goetas commented on #80
I've tested this issue. Downloading some fresh HTML from http://yaplakal.com.

The size of the document was 243k.

The time to parse the document on my laptop (Intel I3) was:

~50s with XDebug **enabled*
~4s with XDebug **disabled**

Conclusion: do not use XDebug on production servers.

[2015-04-11 02:05] mattfarina commented on #80
~4s seems like a long time.

@goetas with xdebug did you map out where the time is being spent? I wonder if there are ways to make it faster.

[2015-04-11 10:30] goetas commented on #80
Running the same test on travis, https://travis-ci.org/Masterminds/html5-php/builds/58058822 we have different timings.

Version | Time
------------ | -------------
5.3| ~7s
5.4| ~7s
5.5| ~4s
5.6| ~4s
hhvm| ~0.8s
7| ~0.5s

Looking at the xdebug profiller:
- 48% of running time is consumed by `Tokenizer.php`  (here we have a lot string concatenation, known to be slow, but i tried to change it to ar

[2015-05-17 19:21] sa-tasche opened #86 "Why not using \SplFileObject or \php_stream_filter"
Is there a good reason why we doesn't use \SplFileObject or \php_stream_filter?
It could probably make the parser less complex; perhaps starting from the next major update.

What's your thoughts?

[2015-05-18 14:33] technosophos commented on #86
You mean instead of doing the tokenizing the way we are? I had looked at using php_stream_filter, and actually had planned on using it. But I started with plain string processing and then never actually went back to working on streams/files instead.

For background, when we first started the parser, we were most interested in parsing strings of HTML5, not necessarily files. At this point, we reall

[2015-06-02 00:55] mattfarina commented on #79
@goetas is there anything else to finish the HTML5 to Html5 rename?

[2015-06-05 02:20] JayCarney opened #87 "IE conditional tags being stripped"
This appears to only be a issue before the <html> tag, this:
[code]

is being turned into this:
[code]

[2015-06-07 08:46] goetas commented on #79
@mattfarina Rebased the PR right now. I think that it is ready to be merged. Does it looks good to you?

[2015-06-08 15:26] #87 closed

[2015-06-08 15:55] mattfarina commented on #86
When I originally wrote the file input stream it was the lowest barrier to entry to make it work. On day one I knew we needed something better but updating that to use something like `SplFileObject` fell into the unimplemented features. I'd love to see a pull request to do something better.

[2015-06-19 20:00] mattfarina commented on #79
This has been merged and will go out in a 3.0.0 release.

[2015-06-22 13:39] mattfarina opened #89 "Expose debug mode and use PSR logger"
In a few places there is a debug mode that prints to standard out. We can expose this in the Html5 and use the PSR logger interface (still printing to standard out by default).

[2015-06-22 13:48] goetas commented on #89
yay!

[2015-06-25 14:09] mattfarina commented on #80
I just pulled the html from http://yaplakal.com and ran some tests locally against master. I was consistently getting around ~0.6s (without xdebug). The file is about 224kb. This was with php 5.5.

I'm not sure what to do with this issue at this point? The scanner uses the input streams and there is an issue to re-write the file one which may be an improvement.

Any suggestions on actions or is th

[2015-10-23 08:31] muka commented on #62
Here it is (ubuntu 15.04, php 5.6) `http://goo.gl/QmDpZE`

Fails with `Warning: DOMElement::setIdAttribute(): ID mb1 already defined`
Stack trace
[code]

[2015-10-27 15:13] technosophos commented on #62
While I'm not sure how the situation *should* be handled, it is most definitely an error to try to set the same ID on multiple elements. And part of the reason for this is that there should be a lookup table of ID to element.

Any ideas on what the right way to handle this is? First to set the ID wins? Last to set the ID wins?

[2015-10-27 15:49] muka commented on #62
I guess the last win as it is the last known unique id found, but seems more a matter of taste :)

I don't know about the internals of the library but the table lookup seems a nice way to handle multiple ids. It could not differ too much from how a `class` property is handled only in the case where there are more than one id

Best

[2015-10-30 22:56] mundschenk-at opened #91 "Why is <li> not a BLOCK_TAG?"
According to the spec, <code>li</code> can contain any "flow content", i.e. practically anything. Why is it not categorizes a <code>BLOCK_TAG</code>?

[2015-11-03 03:11] technosophos commented on #91
Because as defined in the spec, it is not `display: block`. There's a reference in the source code to this resource: http://dev.w3.org/html5/markup/elements.html

[2015-11-03 08:53] mundschenk-at commented on #91
OK, let me rephrase that. Why cling to HTML4.01 categories instead of the spec? (<code>display: block</code> is only "typical default display properties", not part of the spec per se). To quote from the Mozilla doc listed in the source:<blockquote>The distinction of block-level vs. inline elements is used in HTML specifications up  to 4.01. In HTML5, this binary distinction is replaced with a more

[2015-11-03 15:21] technosophos commented on #91
This is why:
https://github.com/Masterminds/html5-php/blob/d60382ea883f886ffdb6605cb2b65146b50e70c1/src/HTML5/Parser/DOMTreeBuilder.php#L346

Because li can have its end tag omitted, it's not included in the BLOCK_TAG list of elements. See http://www.w3.org/TR/html5/syntax.html.

I'm unclear at this point whether you are experiencing a particular issue, or whether you're primarily interested in ar

[2015-11-03 15:31] mundschenk-at commented on #91
I'm using HTML5-PHP in an updated version of the WordPress plugin wp-Typography. I'm using what could be called "tag introspection" to handle block-level elements and was surprised that <code>li</code> didn't have mask to check against. I've since worked around this, but the solution is not very pretty (https://github.com/mundschenk-at/wp-typography/commit/f96811df1ce652cf69ed2e6339bb2a2b547d5941)

[2015-11-03 15:55] technosophos commented on #91
Based on your code, I am guessing that `li` is not going to be the only problem case. `td` and `dt` both follow the same rules (closing tag can be omitted).

I'm not at all opposed to adding more markers on the `Elements.php` masks if that helps. Feel free to generate a PR.

[2015-11-03 16:03] mundschenk-at commented on #91
Yes, I've since replaced the check for <code>li</code> with a regex based workaround (filtering the resulting string for control characters. (The specific bug was that I got the text content from the surrounding <code>ul</code> element because the search for a block-level parent stopped one layer to late.)

I'll have a look at a new marker system, though. In your opinion, would it be better to go

[2015-11-03 16:14] mattfarina commented on #91
If you look at the [`Elements.php`](https://github.com/Masterminds/html5-php/blob/d60382ea883f886ffdb6605cb2b65146b50e70c1/src/HTML5/Elements.php) file you'll see there are masks that can be tested elsewhere. The `li` is only listed as a known element. "I think" `li`, `td`, and `dt` need to be updated to be block elements and a new mask needs to be created to auto-close them (or optional closing).

[2015-11-03 16:21] technosophos commented on #91
My preference, @mundschenk-at, would be to use terminology closer to the standard, and to focus on lexical attributes (rather than display, which we don't really do). So "flow content" and "omit end tag" are probably better concepts to work with. Does that sound right to you?

[2015-11-03 16:23] mundschenk-at commented on #91
Yes, it does.

[2015-11-07 18:19] xgathos opened #92 "TEXT_RCDATA Fields and Processing Instructions"
In TEXT_RCDATA fields like ```<title>``` it is not possible to use processing instructions.

Could this be the sole exception for RCDATA fields or is this against the spec?

[2015-11-07 19:06] technosophos commented on #92
Any tag-like thing inside of an RCDATA field has to be shown as-is. Here's the test case example:
https://github.com/Masterminds/html5-php/blob/2.x/test/HTML5/Parser/TokenizerTest.php#L894

The spec is a little hard to read on this point because you have to trace through all of the parser rules, but this part sort of shows what is supposed to happen when you hit a tag-like thing:
http://www.w3.org

[2015-12-02 07:01] scratcher28 commented on #80
I am having a lot of issues with out-of-memory, even when parsing relatively small piece of html code (less than 200kb).

[2015-12-02 07:44] goetas commented on #80
Can you share the code?
On 2 Dec 2015 08:01, "scratcher28" <notifications@github.com> wrote:

[2015-12-20 19:50] mundschenk-at commented on #62
I've had an occurrence of this reported by a user of wp-Typography in https://github.com/mundschenk-at/wp-typography/issues/12. While clearly an bug in another plugin (producing invalid HTML), it would be great if the parser was more "real world friendly". Maybe an option to be more lenient?

[2016-01-26 09:48] layershifter opened #94 "UTF8Utils::countChars() - extra bad perfomance with iconv_strlen()"
Hi :)

When I try load page with library, I receive:
Fatal error: Maximum execution time of 30 seconds exceeded in /var/www/storage/vendor/masterminds/html5/src/HTML5/Parser/UTF8Utils.php on line 52

It's very strange to receive this on i7-6700.

On line 52 we have iconv_strlen($string, 'utf-8'), it is a source of problems. Source page in UTF-8, if this is important.

When I replace it with mb_str

[2016-01-29 23:10] mattbucci opened #96 "Parser breaking xml:href on svgs that use the "use" element in 2.1.2"
I'm parsing my entire website, modifying assets to use a cdn

I've got svg elements like the following and when I save them the xlink:href of the use child is changed to just be href

[code]

When parsing it here's what the xlink:href attribute itself looks like

![screen shot 2016-01-29 at 3 06 58 pm](https://cloud.githubusercontent.com/assets/3284147/12690702/3e439942-c69a-11e5-8959-e5ec70931cff

[2016-01-29 23:15] mattbucci commented on #96
see https://github.com/Masterminds/html5-php/blob/2.x/src/HTML5/Serializer/OutputRules.php line 335

[2016-01-29 23:22] mattbucci commented on #96
By Changing line 352 of OutputRules.php from

[code]
$name = empty($node->prefix) ? $node->name : $node->prefix . ":" . $node->name;
[code]
// XXX: The spec says that we need to ensure that anything in
            // the XML, XMLNS, or XLink NS's should use the canonical
            // prefix. It seems that DOM does this for us already, but there
            // may be exceptions.
[code]

[2016-01-29 23:27] mattbucci commented on #96
using $node = $node->nodeName; rather than $node = $node->name also seems to work

[2016-01-30 22:30] technosophos commented on #96
What does the HTML5 spec say about supporting xlink? I think it might be a
special case.

On Fri, Jan 29, 2016, 4:27 PM Matthew Bucci <notifications@github.com>
wrote:

[2016-01-30 22:58] mattbucci commented on #96
@technosophos Here's the mozilla foundation documentation on it

- https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use

and the w3 spec as well

- https://www.w3.org/TR/SVG11/struct.html#UseElement

[2016-02-06 19:47] goetas commented on #94
solved in https://github.com/Masterminds/html5-php/issues/95

[2016-02-06 19:47] #94 closed

[2016-02-08 18:13] mattfarina commented on #96
@mattbucci does the fix in the pull request #97 fix this for you?

[2016-02-08 20:27] mattbucci commented on #96
@mattfarina yup, it sure does

[2016-03-14 12:00] sidkshatriya opened #98 "noscript in head should allow link, meta, style tags and in body other tags"
The `<noscript>` tag in `<head>` treats everything it contains as raw text. In fact it says  in https://html.spec.whatwg.org/multipage/scripting.html#the-noscript-element that noscript can contain the link, meta and style tags.

If I load a trivial html document
[code]

I get an ugly PHP notice:
[code]

This PHP notice is actually _not_ benign. All the contents of the `<noscript>` tag are lost and

[2016-03-14 12:24] sidkshatriya commented on #98
I suppose another approach would be to create a subclass of the

`\Masterminds\HTML5\Serializer\OutputRules` class and override the `element($ele)` method. But the HTML5 library seems to hardcode the instantiation of the OutputRules class in the `\Masterminds\HTML5::save` method.

[2016-03-14 13:25] mattfarina commented on #98
For additional reference, the HTML5 spec notes this as well in https://www.w3.org/TR/html5/scripting-1.html#the-noscript-element

[2016-03-14 13:44] sidkshatriya commented on #98
Just FYI we're using the Mastermind HTML5 library (and QueryPath) in the [AMP PHP Library] (https://github.com/Lullabot/amp-library)

[2016-03-15 08:46] sidkshatriya commented on #98
This is general issue with the `<noscript>` tag and not only when the tag is in `<head>`. In body, the `<noscript>` tag can contain most HTML tags. (In body, these tags will be displayed if javascript is turned off). Mastermind HTML5 treats these nested tags as raw text also so we have the same problem as we explained above.

There is another workaround:
[code]

[2016-03-15 10:52] #96 closed

[2016-03-15 11:01] mattfarina commented on #98
In the body when scripting is disabled (case we need to shoot for) the `noscript` tag is transparent to the DOM. So, yeah, this is a bug.

Pull requests are welcome and if not I'll try to look at this soon.

[2016-03-15 12:12] sidkshatriya commented on #98
@mattfarina It would probably take me some time to understand the internals of the module. So if you're able to get some time to fix this it would be very much appreciated :-)

[Off topic: If possible can we have a release for the 2.x series -- the last release was some time ago.. Also what is the difference between the 2.x branch and master branch?]

[2016-03-15 12:47] mattfarina commented on #98
My plan is to cut a release after fixing this bug.

The master branch meets all the PSRs. There were some naming things that are breaking (e.g., Html vs HTML). That will be the basis for a 3.x series when time becomes available to make a handful of changes.

[2016-03-16 13:03] mattfarina commented on #98
I'm still reading through the HTML5 spec on this. There is some different direction in different sections. In particular on tags allowed in the `noscript` tags.

Since this is not a validating parser I'm tempted to make `noscript` transparent to the model while throwing a parse error for nested `noscript` and some other cases. See 8.2.5.4.5 of the spec for more detail.

[2016-03-16 13:32] sidkshatriya commented on #98
I think thats fair -- just check if there are any nested noscripts (and any other cases you may care). Would it be a fatal parse error?

It would probably be OK if you didn't do anything at all (didn't check for nesting etc). Since this is not a validating parser why do you care to validate at all here? This would actually be more consistent...

[2016-03-18 13:06] mattfarina commented on #98
@sidkshatriya Can you take a look at the PR on #99.

[2016-03-19 17:34] goetas opened #101 "Compatibility between 2.0 and master"
Should we create some compatibility wrapper to have an easy upgrade from 2.x to 3.0? It looks that almost everybody is still using the 2.x version

[2016-03-19 17:36] technosophos commented on #101
How hard do you think that would be?

[2016-03-28 09:14] #98 closed

[2016-04-26 10:54] mikkorantalainen opened #108 "Adoption Agency Algorithm: current status?"
Latest WHATWG spec does not have "adoption agency algorithm". I guess the latest match is https://html.spec.whatwg.org/multipage/syntax.html#parsing-main-inbody section "12.2.5.4.7 The "in body" insertion mode".

Is this mode supported and if not, is there any intention to support it in the near future?

[2016-05-02 14:34] sylus opened #109 "HTML5 Tools + Drupal 7 + HTML5 PHP breaks </address> tag"
It seems when using HTML5 Tools + HTML5 PHP for Drupal 7 that address tags are broken.

We originally added the HTML5 PHP library to fix issues with video tags which worked. Except now it has been proven when saving a piece of content with the opening + closing address tags that the closing tags get removed on node render. CKEditor source view shows the close address tag as still present. On node

[2016-05-02 21:57] mattfarina commented on #109
@sylus Can you point me to the code using `Masterminds\HTML5` that's causing this problem? Is it in a module?

If you look in `Drupal\Component\Utility\Html` you'll see it uses `\DOMDocument` instead of the html5 parser here. For example, [see the load function](https://github.com/drupal/drupal/blob/8.1.0/core/lib/Drupal/Component/Utility/Html.php#L252).

I'm curious where this is happening.

[2016-05-05 18:45] sylus commented on #109
Hey thanks for the response.

We are using a patch to get html5_tools to work with html5-php from this issue:

http://drupal.org/node/2415305
https://www.drupal.org/files/issues/replace_core_text-2415305-7.patch

When looking at the markup for the body field in devel I see the following:

[code]

[code]

[2016-05-09 17:29] sylus commented on #109
I believe I have reduced it down to this:

[code]

Where $body_content is returned as:

[code]

[2016-05-09 17:44] sylus commented on #109
When I changed the following:

[code]

to

[code]

I then got correct output.

[2016-05-09 17:57] mattfarina commented on #109
Looking at the [spec for address](https://www.w3.org/TR/html5/sections.html#the-address-element) I see that neither the start or end tag can be omitted. I'm not sure why `AUTOCLOSE_P` is on this. I think that's what's causing this issue.

@sylus Do you want to update this on master and the 2.x branch or shall I? I'm always open to PRs.

[code]

[2016-05-09 18:07] sylus commented on #109
Thanks a bunch submitted a P.R. ^_^

[2016-05-10 14:14] mattfarina commented on #109
Version 2.2.1 has been released with this fix included. Thanks for the contribution.

[2016-05-10 14:14] #109 closed

[2016-05-10 14:36] sylus commented on #109
Thank you for the awesomeness that is html5-php ^_^!

[2016-05-20 12:56] sidkshatriya opened #113 "Line numbers are always zero"
We're using this library in the https://github.com/Lullabot/amp-library project.

The approach in a super simplified fashion is:

[code]

Notice we only use the mastermind library for html5 output. We're using the normal PHP dom html parser for input.

It might be a good idea to use `mastermind/html5-php` for parsing the HTML as well. This seems to deal with cases like the `<source src="foo.wav" t

[2016-05-20 13:12] sidkshatriya commented on #113
The other approach would be to simply close tags like `<track>` , `<source>` etc. by some code (any libraries you think might be useful?) and use the PHP DOM HTML parser as before, I guess...

[2016-05-24 03:13] sidkshatriya commented on #113
@mattfarina Any hints on `DOMNode::getLineNo()` always being 0 and a way to get line numbers from original document?

[2016-05-24 09:24] sidkshatriya commented on #113
I have been able to find a workaround for line numbers being always zero.

Lets say my original html is
[code]

Before sending it to QueryPath::withHTML5() I change it to:

[code]

In other words I simply add an attribute to each tag corresponding to the original document line number. Even if `mastermind/html5-php` internally squishes everything to a single line, I always have a line number corres

[2016-05-24 09:24] #113 closed

[2016-06-01 12:53] mattfarina commented on #113
@sidkshatriya Sorry for the slow response. I've was traveling and then the holiday weekend put me behind on these issues.

I don't believe there is a way to set the line number returned by `DOMNode::getLineNo()`. If there is one I have a couple ideas how to figure it out. But, as far as I can tell (and someone please correct me if I'm wrong) there isn't a way to set that from PHP. It's part of lib

[2016-06-01 13:04] sidkshatriya commented on #113
@mattfarina I have implemented a workaround (whose broad sketches were described in https://github.com/Masterminds/html5-php/issues/113#issuecomment-221214077 .

The final solution involves subclassing some classes from your `Masterminds/html5-php`

FWIW here are some relevant links that will show you how I did it.
(Main logic here)
https://github.com/Lullabot/amp-library/blob/master/src/Utility/A

[2016-08-12 22:28] hason opened #114 "Preserve case sensitive tag names"
Current behaviour: ``<Button color="red">Error</Button>`` -> ``<button color="red">Error</button>`` .
Expected behaviour: ``<Button color="red">Error</Button>`` -> ``<Button color="red">Error</Button>` .

[2016-08-13 08:21] goetas commented on #114
:+1:  will check as soon as possible

[2016-08-14 13:29] goetas commented on #114
Case sensitive tags are only in XML mode https://www.w3.org/TR/html-markup/documents.html#conformant-xml

Currently not yet implemented, but most likely will reuse `xmlNamespaces` option

[2016-08-17 18:19] goetas commented on #114
Fix https://github.com/Masterminds/html5-php/pull/116

[2016-09-22 10:22] #114 closed

[2016-10-10 09:44] Crusse opened #121 "<audio> inside <p> causes an empty <p>"
I'm using version 2.2.2 with PHP PHP 5.4.45.

This code

[code]

results in this HTML

[code]

Running this in Chrome says that `<audio>` is an inline element (at least in this context):

[code]

[2016-10-11 18:05] goetas commented on #121
I'm not sure that the tag p can contain  audio tags... is it true?

[2016-10-11 18:50] Crusse commented on #121
I'm not sure either. My use case is with TinyMCE, which actually adds p tags around audio tags: https://jsfiddle.net/z35qy9h0/1/

A random SO thread: http://stackoverflow.com/questions/9852312/list-of-html5-elements-that-can-be-nested-inside-p-element

Also testing the aforementioned HTML in Firefox and Chrome results in the audio element staying inside the p element, when looking at the DOM, wher

[2016-11-25 19:15] kynx opened #123 "XPath doesn't work"
Just can't figure this one out...

Using DOMDocument
[code]

Using HTML5
[code]

It doesn't look like XPath works on DOMs created by HTML5 :( Any one else run into this? Or have an idea what I can do?

[2016-11-25 20:51] goetas commented on #123
[code]

Starting from 2.0 xml namespaces are enabled by default

[2016-11-25 20:51] #123 closed

[2016-11-26 12:26] kynx commented on #123
Ah ha! Many thanks for that!

[2016-12-18 13:49] mundschenk-at opened #124 "Bare & in href URL always produces parser error"
If I understand the current spec (or rather: the commentary on said spec) correctly, a bare `&` in a URL in a `href` attribute should only produce a parser error if the text fragment following the `&` is the name of an entity.

Currently (2.x branch), `<a href="foobar.at?a=b&c=d">bla</a>` results in a parser error `Line 1, Col 51: No match in entity table for 'c'`. Should that really be the case?

[2016-12-18 14:30] goetas commented on #124
From my understanding of the specs, & should be always encoded.

But what happens in reality is that a huge part of devs don't, so browsers
have adopted a "think positive" approach, essentially they allow & almost
everywhere, but if the characters after it match an entity, then the entity
is used instead.

On 18 Dec 2016 2:49 pm, "Der Mundschenk & Compagnie" <
notifications@github.com> wrote:

If

[2016-12-18 14:43] mundschenk-at commented on #124
The [Nu Html Checker people think this is no longer true](https://github.com/validator/validator/issues/293).

[2016-12-29 20:04] CanRau opened #125 "sadly I don't get it working on a fragment :/"
hey guys, just installed composer and html5-php and switched my code, which formerly used simple_html_dom, to work with your library

my html is a string of paragraphs `<p>` like `<p>paragraph</p><p>paragraph2</p>` and so on
I tried the following

    $html5 = new HTML5();
    $dom = $html5->loadHTMLFragment($content);
    $paragraphs = $dom->getElementsByTagName('p');
    var_dump($paragraphs);

[2016-12-30 10:20] goetas commented on #125
The returned element by `loadHTMLFragment` is not a DOM. It's is a `DOMDocumentFragment`.
This has many implications.

[code]

a bit different approach (but depends on your usecase) can be (might not work if you have to merge multiple fragments):

[code]

[2016-12-30 10:20] #125 closed

[2017-01-03 06:00] Lewiscowles1986 commented on #121
Is turning off autop not a better option than adding edge cases to other software?

[2017-02-10 21:32] peixotorms opened #126 "How to use it without composer?"
Hi, can you provide instructions on how to use this without composer please?

[2017-02-10 21:53] goetas commented on #126
Using this project without composer is not officially supported.

Nowadays composer is the standard to manage dependencies for php.

Any specific reason to not use composer? The integration of composer is generally pretty easy

[2017-02-10 21:53] #126 closed

[2017-02-10 21:57] peixotorms commented on #126
I want to include this on a wordpress plugin and for compatibility, I would rather simply include the needed files... I understand if it's not supported, but in that case I'll have to go through the code and find a way. Thanks anyway for the prompt reply.

[2017-02-11 07:19] mundschenk-at commented on #126
@peixotorms Have a look at how I do it in [wp-Typography](https://github.com/mundschenk-at/wp-typography). (Although if you include html5-php in the same manner, our plugins will probably not be compatible with each other.)

[2017-03-12 09:05] goetas commented on #80
no feedabck

[2017-03-12 09:05] #80 closed

[2017-03-21 07:29] remotehelp opened #127 "removeChild() causes PHP Fatal error: Uncaught exception 'DOMException' with message 'Not Found Error'"
When I try run (on PHP 5.6 and 7.1) this PHP code:
[code]
I get this PHP error:
[code]
How I can remove some one HTML element (<div>, <article> etc.)?

[2017-03-21 11:16] goetas commented on #127
have a look to https://github.com/Masterminds/html5-php#options , more specifically to `disable_html_ns`

[2017-03-21 11:16] #127 closed

[2017-03-21 11:17] goetas commented on #127
and you should do

[code]

[2017-03-25 09:18] remotehelp commented on #127
goetas, Thank! Worked. For other... If use removeChild() in `for(){...;removeChild();}` causes similar error, instead use this:
[code]

[2017-03-28 09:03] goetas commented on #127
have a look to this http://php.net/manual/de/domnode.removechild.php#88592

[2017-05-05 20:20] shtse8 opened #128 "any loadHTML options for not adding a default doctype"
as DOMDocument provide this options as follows:
[code]

I want to do the same thing, when there is missing DOCTYPE, don't add it, any advise?

[2017-05-07 13:03] shtse8 commented on #128
This project is the best I have ever used. But I don't want it to repair my source html and just doing some manipulations.

[2017-05-07 18:41] goetas commented on #128
Can't understand. You want the doctype in output or not?

[2017-05-07 18:58] shtse8 commented on #128
I want html5-php can provide the following two libxml options so we can choose to add or not when there are missing html/body/doctype.

I am doing a project to minify the html code using this project, because the DOMDocument is failed to handle utf-8 correctly, but this project is adding the doctype automatically when it is missing. Actually I don't know the input in my project, so I don't know if

[2017-05-08 08:53] goetas commented on #128
Actually the exact feature that you are looking for is not really available.

But some of them are:

To load only a portion of a document (witout having the html/head tags injected) you can use `HTML5::loadHTMLFragment()` method. This should be enough for your case

[2017-05-08 08:53] #128 closed

[2017-05-08 08:59] mundschenk-at commented on #128
@shtse8 You could also do what I do in wp-Typography: [Add the `<!DOCTYPE>` and `<html><body>` tags to the fragment](https://github.com/mundschenk-at/wp-typography/blob/master/php-typography/class-php-typography.php#L936), but [save only the children of the the body tag](https://github.com/mundschenk-at/wp-typography/blob/master/php-typography/class-php-typography.php#L808) on retrieval.

You coul

[2017-05-08 09:05] shtse8 commented on #128
Thanks for your advise.

@mundschenk-at @goetas
I can't use this method because there is a case the input has the doctype or html/body. I have to read the doctype or html/body if they exists.

Expected Code:
[code]

Expected Output:
[code]

[2017-05-08 09:06] goetas commented on #128
[code]

Is not a valid HTML5 document...

[2017-05-08 09:11] shtse8 commented on #128
I understand, but as I'm making a minifier ( the aim is to minify code ), users don't expect it will repair the code or add the html/head by default. I can do it with `DOMDocument` because they have the options to not adding it if they doesn't exist, but it fails to handle UTF-8 and some HTML5tags correctly. I found this project can handle well but missing these two options.

[2017-05-08 09:16] mundschenk-at commented on #128
@shtse8 That will not work. Code that is not well-formed will always be "repaired" by the parser.

[2017-05-08 09:18] goetas commented on #128
@mundschenk-at

true true

[2017-05-08 09:32] shtse8 commented on #128
Thanks again.
So how to write a function to check if the input is fragment or not before parsing the html?
I don't really understand, is it checking the existence of doctype and only one `html` root? how about body and head? Do I need to check? If I have to check I would like to use `preg_match`, but how to confirm it is in a good order without parsing it?
Before, I want to parse it first and see

[2017-05-08 09:37] mundschenk-at commented on #128
The problem is not the check for `DOCTYPE` and/or `body` resp. `html`, that should be easy (if not efficient) with `preg_match`. The problem is that what you intend to do, make a minimizer that does not "fix" HTML code, will not work because saving a DOM parsed from invalid HTML code will not result in the same code.

[2017-05-08 09:56] shtse8 commented on #128
As `loadHTMLFragment` will remove the `doctype` and `loadHTML` will add the `doctype`, I am going to crate a method to check the input if it is a fragment or not. But the problem is how can I do this before parsing it? I think `preg_match` cannot do it well because it is just only to match the string but don't know if it is in a good structure. For my suggestion, `html5-php` is better to give an o

[2017-05-08 14:04] mattfarina commented on #121
This one is a little more complicated once I started looking at the specs...

In [HTML 4.01 is notes](https://www.w3.org/TR/html401/struct/text.html#h-9.3.1),

This exact line doesn't show up in the HTML5 spec.

The HTML5 spec does say,

[Phrasing content](https://www.w3.org/TR/html5/dom.html#phrasing-content-1) does contain audio tags.

So, this is a bug.

While I've yet to track it completely, I

[2017-05-09 08:02] jschoder opened #129 "image within inline svg breaks system"
I have a website with inline SVGs, some of them include a image-tag, which isn't an empty tag but a separate open and close tag. Your function Parser/DOMTreeBuilder.startTag just overrides image with img which doesn't allow a separate closing tag and therefore fails.

I totally get why img is identical to image in normal html. But the replacement shouldn't happen when the tag is inside an inline s

[2017-05-09 08:40] goetas commented on #129
Does it mean that when we are in SVG mode, `image` should not be replaced by `img` ? is this in the HTML5 spec?

[2017-05-09 09:41] goetas commented on #129
@jschoder
Are you sure about this?

See https://github.com/Masterminds/html5-php/commit/4b75717ce1692ef87704beaa213c9744eccea662 that  tries to reproduce the case you said, and as you can see on travis (https://travis-ci.org/Masterminds/html5-php/builds/230278543) the build is green

[2017-07-26 13:18] Suranex opened #131 "&sup2; does not work"
[code]

Expected Result is ², but its prints &³2;

I think, the problem is in https://github.com/Masterminds/html5-php/blob/2.x/src/HTML5/Parser/Tokenizer.php#L1074 where only AsciiAlpha are returned, but &sub2; needs the number. Therefore the call should be Scanner::getAsciiAlphaNum.

[2017-07-26 14:10] #131 closed

[2017-07-26 14:11] goetas commented on #131
Fixed in https://github.com/Masterminds/html5-php/pull/132
Thanks for the error report

[2017-08-18 19:15] MichaelHeerklotz commented on #129
<svg><image></image></svg>
This is the problematic case.

[2017-08-23 09:56] goetas commented on #129
@MichaelHeerklotz and @jschoder can you point me to the docs where is specified that `<svg><image/></svg>` is not valid?

I've used the https://validator.w3.org/nu/#textarea validator, and the following document looks to be valid:

[code]

Closing the issue because of it.

Feel free to comment, and if the issue looks still there, will re-open it.

[2017-08-23 09:56] #129 closed

[2017-08-23 14:12] MichaelHeerklotz commented on #129
[code]
html5-php: No errors
W3C Validator: Error: End tag svg did not match the name of the current open element (image).

[code]
html5-php: Line 0, Col 0: Could not find closing tag for image
W3C Validator: Error: No errors

[code]
html5-php: Line 0, Col 0: Could not find closing tag for image
W3C Validator: Error: No errors

[2017-08-23 14:21] goetas commented on #129
@MichaelHeerklotz  which version are you using? see https://github.com/Masterminds/html5-php/blob/0a00d47cd6712cdb4e4190d436303acba9b8a49d/test/Html5Test.php#L32 and https://travis-ci.org/Masterminds/html5-php/builds/267601453

[2017-08-23 20:37] MichaelHeerklotz commented on #129
@goetas latest branch 2.x from today. I check the errors with:
[code]

[2017-08-25 09:33] goetas commented on #129
fixed with https://github.com/Masterminds/html5-php/pull/133

[2017-08-25 09:52] mundschenk-at commented on #124
I've found the relevant part of the spec [§ 8.2.4.72. Character reference state](https://www.w3.org/TR/html52/syntax.html#character-reference-state):

Consume the maximum number of characters possible, with the consumed characters matching one of the identifiers in the first column of the §8.5 Named character references table (in a case-sensitive manner). Append each character to the temporary buf

[2017-08-28 12:47] goetas commented on #124
possible solution available in https://github.com/Masterminds/html5-php/pull/134, feedback is welcome

[2017-08-28 18:34] mundschenk-at commented on #124
Code looks good to me, though I don't have a more elaborate test case than the minimal one given earlier. (I encountered this in the wild, but I didn't keep notes on the orginal HTML.)

[2017-09-01 15:07] #124 closed

[2017-12-04 14:37] apeschar opened #136 "Handle illegal self-closing according to spec"
Browsers will parse

[code]

like this ([proof](https://jsfiddle.net/3h0owjw8/))

[code]

Whereas this parser will parse it like this

[code]

This is because the `Tokenizer` emits `endTag` after all self-closing tags. It should really only do this for tags that may be self-closed (ie, [void elements and foreign elements](https://www.w3.org/TR/html5/syntax.html#start-tags)).

[2018-04-10 07:59] SPQRInc opened #138 "Problems with Vue.js"
Hello everybody,

I am using HTML5-php to add ids to the headlines of a document.

Unfortunately, the vue-js attribute `@submit.prevent="save | valid"` is being removed after processing:

Original:
[code]

Processed:

[code]

The code is:

[code]

[code]

(from: https://github.com/caseyamcl/toc)

[2018-05-01 15:33] connerbw opened #139 "CDATA and JavaScript gets mangled when manipulating XHTML"
When loading a XHTML document with JavaScript into html5-php I expect the `<script>//<![CDATA[` conversion to behave like it does in plain old  `\DOMDocument`. Instead they get turned into htmlentities, breaking the JavaScript on our target platforms (ebook readers).

Expected:
[code]

Actual:
[code]

Test case:

[code]

[2018-05-01 15:34] goetas commented on #138
Not sure if `@submit.prevent` is a valid HTML5 tag name... or at least, maybe was not valid in the past

[2018-08-21 13:54] goetas commented on #136
This makes sense but most probably is a BC break :crying_cat_face:

[2018-08-21 13:59] mundschenk-at commented on #136
Is it rally a BC break if the parser gets closer to spec (or browser behavior, as an extension of the spec)?

[2018-08-21 14:01] apeschar commented on #136
Right. The README starts with "HTML5 is a standards-compliant HTML5 parser". It isn't quite, but fixing this bug would get it a little closer.

[2018-08-21 14:02] apeschar commented on #136
See the URL I linked in my PR. Self-closing tags _do not exist_ in HTML, are an error, and therefore ignored by browsers, except for foreign elements.

See also: https://www.w3.org/TR/html5/syntax.html#start-tags

[2018-08-22 21:16] connerbw commented on #139
I would like to submit a PR but I need clarification on: `\Masterminds\HTML5\Parser\EventHandler::text`.

[code]

What does **_Entities in this text are \*already decoded\*_** mean? If it means that `$cdata` should not be manipulated then changing `\Masterminds\HTML5\Parser\DOMTreeBuilder::text` from:

[code]

To:

[code]
Solves this issue.

`DOMDocument->createTextNode()` encodes entities. Is thi

[2018-08-23 07:01] goetas commented on #139
The thing is that "script" is a raw text tag, so Tokenizer::rawText() looks directly for </script> instead of looking for a possible  cdata sequence.

When serializing back the dom, are you using this lib or the domdocument::save xml method?

[2018-08-23 13:39] connerbw commented on #139
I am using this lib:

[code]

` Entities in this text are *already decoded`, `rawText`, .... these methods and comments lead me to believe that if you pass `Hé` then the result should be `Hé`, not `H&eacute;`

My question, worded another way, is what is `rawText`? The code for `rawText` calls `text` and text creates the node using `createTextNode` which will transform entities.

If this is the cas

[2018-08-23 14:06] goetas commented on #139
Doing
[code]

I get:
[code]

[2018-08-23 14:46] connerbw commented on #139
Back from vacation so excuse the all over the place tangent.

Elsewhere in our code, we have often used `$mm->saveHTML( $d2 )` where `$mm` equals `\Masterminds\HTML5`

For this specific bug we need to save back as valid XML. We expect similar results to `\Masterminds\HTML5\Tests\Parser\DOMTreeBuilderTest::testMoveNonInlineElements`

I just tried the proposed fix and, for this specific bug, and it

[2018-08-23 14:53] goetas commented on #139
`$html5->saveHTML` is there exactly because the DOM version did not work as expected in many other cases...
Re opening as "feature request"

[2018-09-11 15:44] goetas commented on #138
The Vue.js template language is not HTML5 standard so it will not be possible to parse it without additional  pre-processing (that is more or less what vuejs does before sending the result to the browser).

This library is meant for parsing and writing HTML5 documents.

[2018-09-11 15:44] #138 closed

[2018-10-04 15:43] asokol1981 opened #140 "Undefined index: in vendor/masterminds/html5/src/HTML5/Parser/DOMTreeBuilder.php:322"
Hello.
The error is caused by `$this->nsStack[0]['']`. But it's impossible that the element of this array is not defined.
Unfortunately I can't reproduce it permanently. The first time script throws an error, the second - not. Where to dig? Could this be caused by opcache or some kind of php bug? What you think?

[2018-10-04 15:49] goetas commented on #140
Pobably  `$this->nsStack[0]['']` is not defined (in https://github.com/Masterminds/html5-php/blob/441fb2bc82599e4e3e90ee94d0f084649f4952f2/src/HTML5/Parser/DOMTreeBuilder.php#L322)

[2018-10-04 15:51] goetas commented on #140
Can you verify?

[2018-10-04 15:52] asokol1981 commented on #140
Yes, it is. But I can't find a way how it can to happen.

[2018-10-04 18:48] asokol1981 commented on #140
Any suggestions?

[2018-10-08 17:37] #136 closed

[2018-10-08 17:56] goetas commented on #121
https://github.com/Masterminds/html5-php/pull/142 should fix this

[2018-10-22 05:50] #121 closed

[2018-11-04 14:06] tgalopin commented on #140
Would you have the HTML to reproduce? This could be a useful first step :) .

[2018-11-06 08:10] asokol1981 commented on #140
Thank you for response.
Unfortunately this behavior doesn't depend on HTML. I saw these errors on different markup. It is strange, that the second processing works without errors.
So I did a workaround:
[code]

[2018-11-06 22:10] asokol1981 commented on #140
Thank you for response.
Unfortunately this behavior doesn't depend on HTML. I saw these errors on different markup. It is strange, that the second processing works without errors.
So I did a workaround:
[code]

[2018-11-06 22:10] #140 closed

[2018-11-06 22:18] tgalopin commented on #140
Any idea for the reason?

[2018-11-07 07:37] asokol1981 commented on #140
I think the reason is opcache.

[2018-11-17 20:34] goetas commented on #86
As of https://github.com/Masterminds/html5-php/pull/146, the input stream has been deprecated. Using raw php strings allowed to double performance

[2018-11-17 20:34] #86 closed

[2018-11-23 08:47] goetas commented on #79
The work on 3.0 has ben stopped as there were no changes worth breaking compatibility, re opening this to keep tack of the feature request

[2018-11-24 09:44] stof commented on #101
this issue should be closed, as the master branch is now 2.x again.

And the 2.x branch should be deleted.

[2018-11-24 09:54] goetas commented on #101
Right

[2018-11-24 09:54] #101 closed

[2019-03-14 10:37] sirdiego opened #165 "Non closing tags are creating invalid html"
Hey guys,

I have a problem with this library. I'm not sure whether I am using it wrong or if it breaks valid html.

I created a breaking test here: https://github.com/sirdiego/html5-php/commit/399bbe710b9956557867a9048ee5499955a9469c

You can check it out and run it.

The library generates the following output for me:

[code]

If you put this into https://validator.w3.org/nu/#textarea it shows th

[2019-03-14 10:39] sirdiego commented on #165
Nevermind. I was using it wrong. Have to use
`$this->html5->saveHTML($doc)`
instead of
`$doc->saveHTML()`

[2019-03-14 10:39] #165 closed

[2019-03-19 09:20] stof commented on #89
I think adding support for a PSR logger could even be done in 2.x in a BC way

[2019-03-19 09:28] goetas commented on #89
hmm, can you explain your idea?

[2019-03-19 11:09] stof commented on #89
Well, you could add support for injecting a logger (which would be optional):

- logger injected -> log stuff at `debug` level in the logger
- no logger injected and debug mode turned on -> write to stdout (and report that as deprecated during initialization ?)
- no logger injected and debug mode turned off -> no debug info

The remaining question is whether the logging itself should be subject to

[2019-03-19 11:12] stof commented on #89
hmm, it looks like the only usage of the debug mode is to dump the input string at the beginning of the processing. So maybe it is not even useful.

[2019-03-19 17:11] goetas commented on #89
Also to me looks non that useful.

From what I can guess. Was used at the very beginning of the library, just for debug purposes

[2019-04-06 06:49] alecpl opened #166 "Invalid parsing result when head/body tag is missing"
Consider this:
[code]
Imo, this is valid HTML and it is also parsed correctly by DOMDocument. However, HTML5 parser will ignore the first line of text. We're using loadHTML() method.

Even this one works with DOMDocument:
[code]
According to Mozilla documentation:
- html: The start tag may be omitted if the first thing inside the <html> element is not a comment.
- body: The start tag may be omitte

[2019-04-06 06:52] goetas commented on #166
Can you post the References of the Mozilla documentation about this?

[2019-04-06 06:54] goetas commented on #166
https://html5.validator.nu/ says is not valid

[2019-04-06 07:05] alecpl commented on #166
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body

I tried https://validator.w3.org, it also returns an error, however it looks strange to me. "Element head is missing a required instance of child element title" while there's no head at all.

[2019-04-06 07:12] alecpl commented on #166
Official [HTML5.2 documentation](https://www.w3.org/TR/html52/) says:
- A head element’s start tag may be omitted if the element is empty, or if the first thing inside the head element is an element.
- A body element’s start tag may be omitted if the element is empty, or if the first thing inside the body element is not a space character or a comment, except if the first thing inside the body elem

[2019-04-06 07:14] goetas commented on #166
Can you please post the exact references to the documentation instead the main links... is really hard to find the sentences you are referring

[2019-04-06 07:15] alecpl commented on #166
Look for "Tag omission".

[2019-04-06 07:19] goetas commented on #166
The document you have posted refers to the latest HTML 5.2 specs. This library implements most of the 5.0 specs.
However I see that starting to adopt some of the more recent specifications is a good idea, so if you wish to fix this behavior, PR are welcome.

[2019-04-06 07:22] alecpl commented on #166
The old HTML5 documentation is the same in this context:

https://www.w3.org/TR/2014/REC-html5-20141028/semantics.html#the-html-element
https://www.w3.org/TR/2014/REC-html5-20141028/sections.html#the-body-element
https://www.w3.org/TR/2014/REC-html5-20141028/dom.html#element-dfn-tag-omission

[2019-04-06 07:22] alecpl commented on #166
Also, don't miss the fact DOMDocument parses these correctly.

[2019-04-06 07:23] goetas commented on #166
Good to know

[2019-04-06 07:24] goetas commented on #166
well, DOMDocument does not follow that much the HTML5 logic... is just a relaxed XML parser internally.
DOMDocument is not much aware of the HTML5 specs

[2019-04-06 07:28] alecpl commented on #166
Yeah, the main reason we switched from DOMDocument to this lib was to get better results. And in many cases the result is better, but this case obviously looks like a bug. Such "dummy" HTML code is not that uncommon in email world.

[2019-06-14 10:02] idimopoulos opened #167 "The DOMDocument returned by the HTML5 Parser does not hae an encoding set"
I am not sure if this should be fixed here or in Symfony, but due to my following assumption I opened the issue here for further discussion.
After https://github.com/symfony/symfony/pull/29306, Symfony requires this library in order to support HTML5 parsing. The problem is that now there are two methods in Symfony, the new
[code]
And the old
[code]
So here comes my assumption. In the HTML5 parser'

[2019-06-15 12:50] goetas commented on #167
fixed in https://github.com/Masterminds/html5-php/pull/168

[2019-06-15 12:50] #167 closed

[2019-06-24 08:53] mundschenk-at commented on #62
@goetas Do you still need additional feedback for this or is @muka's example sufficient?

[2019-06-24 16:05] goetas commented on #62
Actually nobody managed yet to provide a failing test case for this issue.

Having a test that demonstrates the problem, will help the resolution of it

[2019-06-24 16:15] mundschenk-at commented on #62
Ah think @muka had linked a test case, but it's gone by now. I'll try to come up with a small example.

[2019-09-24 17:37] bytestream opened #169 "formatOutput"
Am I missing something or does `formatOutput` not work in combination with `target_document`?

[code]

Compare with DOMDocument and it adds new lines: https://3v4l.org/64gGA

[2019-10-11 14:07] bytestream commented on #169
@goetas any ideas?

[2019-10-11 14:28] goetas commented on #169
Do not understand what is the expected output... can you please give a way to reproduce the issue with code, current output and expected output?

[2019-11-09 16:07] bytestream commented on #169
@goetas

[code]

Diff the two files. `1_domdocument.txt` has new lines, `1_html5.txt` is all on the same line.

Maybe it's something to do with https://bugs.php.net/bug.php?id=76285

[2019-11-09 17:59] goetas commented on #169
This library does not implement any kind of formatted output.

Your example has an issue.
When getting the `$domHtml, via `$domHtml = $dom->saveHTML();`,  you are using the XML-DOM output formatter.
[code]

The XML-DOM formatter is different from the one provided by this library.

A more correct example should have been:

[code]
In that case you will see that the output is the same since both outp

[2019-11-09 17:59] #169 closed

[2019-11-20 18:11] alecpl opened #173 "Get rid of ctype dependency"
This library uses ctype_alpha() function in two places.
1. If I'm not wrong this function is locale dependent and I don't see any setlocale() calls. So, would be better to have something that does not depend on locale.
2. If we got rid of this function use the library would not need Ctype extension which is not always installed by default.

I think it should be easy to replace this function with s

[2019-11-20 18:23] alecpl opened #174 "Get rid of libxml dependency"
I don't see anything in the code that would require libxml extension. We only need DOM. Do I miss something?

[2019-11-20 18:26] alecpl commented on #174
I see utf8_decode(), but preceded with function_exists() check, so composer.json should not require libxml.

[2019-11-22 12:41] alecpl commented on #173
I see that the function is used with single-character input. For this use-case the best I could find is:
[code]
It is 2x slower than ctype_alpha() however for 1 million calls it's 0.08 sec. vs 0.04 sec. So, I'd go for it.

[2019-11-22 15:53] goetas commented on #173
Can we make this an optional dependency, using something as `function_exists`, or use a static closure with the dependency already resolved to a polyfill function or to the extension?

[2019-11-22 16:10] goetas commented on #174
I think that here the intention was to require `ext-dom`. Probably is a bug.
(even if having ext-dom implies installing `libxml`...

I will be happy to change it. Can you reproduce it somehow on travis ci? removing libxml, but keeping extdom?

[2019-11-25 06:57] alecpl commented on #174
No, I didn't try with Travis, that came from one of Roundcube users.

[2019-11-25 06:58] alecpl commented on #174
Actually, the ctype ticket came from the user. This one is from me just reviewing dependencies.

[2019-11-25 07:11] alecpl commented on #173
Polyfill exists - https://github.com/symfony/polyfill-ctype/blob/master/Ctype.php. But it is slower than my version which is optimized for use with single byte string.

As for `function_exists`... because of the potential locale-related issue I would rather get rid of `ctype_alpha`. Using my method will be an easy change. Maybe it would be possible to get rid of that function by changing the code

[2019-11-25 09:10] alecpl commented on #173
I have two solutions, both have 2% impact on performance:
1. Use a simple method in place of `ctype_alpha`:
[code]
2. Rewrite the code to not check if current char is alpha:
[code]
The second patch might require some more love. For example I see that Scanner methods return false on EOF. I think this is not really needed (could return an empty string) and not properly documented.

[2019-11-25 09:22] alecpl commented on #173
Extending the first patch with static `function_exists` check for `ctype_alpha` does not really have an impact on performance. It's still 1-2 % slower.

Performance test done using run.php script on PHP 7.3.

[2019-11-25 09:28] mundschenk-at commented on #173
To have any performance benefits, you'd probably have to do that in the constructor and assign a callable to a property to avoid additional function calls. Also, the polyfill would have to support `ctype_alpha`'s signature to avoid an additional wrapper function.

[2019-12-11 23:13] bytestream opened #175 "DOMCdataSection vs DOMText"
I've come across a discrepancy between DOMDocument and this lib:

DOMDocument returns `DOMCdataSection` for the `<style>` content

[code]

masterminds/html5 return `DOMText` for the `<style>` content

[code]

DOMDocument treats this has `DOMCdataSection`

I think `DOMText` and probably `DOMCdataSection` are incorrect. Although, mimicking `DOMDocument` is probably what's intended?

At the very leas

[2019-12-12 11:59] bytestream opened #176 "Disable line ending normalisation"
https://github.com/Masterminds/html5-php/pull/146 added [replaceLineFeeds](https://github.com/Masterminds/html5-php/pull/146/files#diff-81f4b1589fd833d87d4fe5dea481eb82R310)

Feature request, to turn this off? not sure if it's affects the performance improvement?

[2019-12-14 16:15] goetas commented on #176
This could be implemented as some sort of feature flag.
Performance will probably get worse since now there are two different chars to search for.

Feel free to send an implementation for this.

[2019-12-14 16:22] goetas commented on #175
`Masterminds/html5-php` returns a `DOMDocument` object, but this does not mean that the object structure has to be the same as what `DOMDocument::loadHTML` will do.

`style` ans `script` are special type of nodes and they do not follow the traditional XML-ish parsing rules. Consider also that [HTML5 does not have at all concept of CDATA](https://stackoverflow.com/questions/3302648/should-i-use-cda

[2019-12-14 16:22] #175 closed

[2019-12-14 17:20] bytestream commented on #176
Looks like the spec disallows CR characters https://html.spec.whatwg.org/multipage/parsing.html#preprocessing-the-input-stream

[2020-02-03 06:36] IonBazan commented on #173
We can also use https://packagist.org/packages/symfony/polyfill-ctype instead.

[2020-02-03 08:06] goetas commented on #173
Hm, that seems nice

[2020-02-06 15:43] librevlad commented on #166
Parsung such chunks of HTML would be useful when dealing with some ajax responses containing partials when scraping the web.

[2020-02-24 16:23] ju1ius commented on #166
Hi, adding another test case to this issue:

Using the native `DOMDocument::loadHTML()` implementation:
[code]
[code]
Using this library's implementation:
[code]
[code]

[2020-02-24 16:45] ju1ius commented on #166
Also, citing the spec for [tag omission](https://www.w3.org/TR/2014/REC-html5-20141028/syntax.html#syntax-tag-omission):

This implies that:

1. The result of evalutating `$document->documentElement->nodeName` should always be the string `html`
2. The result of evalutating `(new DOMXPath($document))->query('/html/head')->item(0)->nodeName` should always be the string `head`
3. The result of evalut

[2020-03-05 12:31] ERROPiX opened #180 "Add option to parse html without adding doctype + html + body"
`loadHTML()` force adding of doctype, HTML tag, and body tag when loading partial HTML string

Is there any way to do the same as
[code]

[2020-03-07 08:04] goetas commented on #180
have you tried `loadHTMLFragment()`?

[2020-03-07 12:07] ERROPiX commented on #180
@goetas yes,
The issue is that it create a `DOMDocumentFragment` instead of `DOMDocument`, and I can't use DOMXpath query on it

is there a way to apply `XPath::query`?

[2020-03-08 19:46] goetas commented on #180
You can do this:

[code]

[2020-03-08 19:46] #180 closed

[2020-04-06 15:07] mundschenk-at commented on #180
@ERROPiX See https://github.com/mundschenk-at/php-typography/blob/master/src/class-php-typography.php#L251 for another workaround.

[2020-04-16 18:09] alecpl opened #181 "Parsing specific (long) HTML content is too slow (infinite loop?)"
I have a script that generates a HTML sample that is ~1.5MB in size. It emulates a real-world example. Then I parse it.
[code]
and here's the result:
[code]
I tested this with 2.7.0 and some older versions with no success. The sample half of that size works, but it takes 27 seconds to finish (so it's not linear).

Cross-ref: https://github.com/roundcube/roundcubemail/issues/7331

[2020-04-17 21:04] aleksblendwerk commented on #113
Sorry for resurrecting this ancient issue but I would also love to see some 'native' way to get ahold of the line number in this project.

For now I guess I will get to work on a similar workaround as described by @sidkshatriya (thanks for that).

[2020-04-18 04:33] goetas commented on #181
Have you tried to debug it with backfire or some other profiler?

[2020-04-18 06:39] alecpl commented on #181
I didn't yet, but I can add that the specific content is not that important, the number of tags is. So, it looks like this library has problem with parsing big HTML pages. FYI, DOMDocument parses the sample in less than a second.

[2020-04-18 07:36] alecpl commented on #181
I'm not sure how useful is that, but here's xdebug profile on a smaller sample. Sorry, for Polish language, but forcing English in KCacheGrind didn't work.
![xdebug](https://user-images.githubusercontent.com/546788/79631129-49e36a80-8157-11ea-97af-a24854124315.png)

[2020-04-19 07:14] alecpl commented on #181
So, it looks like a DOMElement::appendChild() is the main bottleneck. Here's some performance stats showing how number of tags makes a difference. PHP 7.4.
[code]

[2020-04-19 07:28] goetas commented on #181
can you try to benchmark `appendChild` alone and see if that slows down after a certain number of tags?

[2020-04-19 07:49] alecpl commented on #181
Nope, and it the other way round (more tags, better time per tag). What's more the following script is blazingly fast (<1sec).
[code]

[2020-04-19 07:50] goetas commented on #181
![image](https://user-images.githubusercontent.com/776743/79682510-40273900-8223-11ea-817b-a6abcfd8f5bf.png)

[2020-04-19 09:13] goetas commented on #181
Hmm, weird...

[2020-05-21 11:57] goetas commented on #166
@ju1ius that is a valid point, see my comment https://github.com/Masterminds/html5-php/pull/182#issuecomment-632046708 for a possible solution

[2020-05-21 17:17] #176 closed

[2020-05-21 18:24] bytestream commented on #166
`<html><title>Foo</title></html>` is valid.

The changes to achieve this are difficult and break several existing tests. Adding those elements means that they will also be output - as far as I'm aware it's not possible to parse but not output them... For starters, the document ends after `Foo` so you have to handle it here https://github.com/Masterminds/html5-php/blob/master/src/HTML5/Parser/DOMTr

[2020-05-31 11:45] bytestream opened #184 "non boolean attributes"
`disable_html_ns` was added to handle non-namespace aware tools. A common example in many usages of this lib:

**The problem with this config option:**
Rules are defined for non-Boolean attributes to be output with `=""` but these do not kick in when the `disable_html_ns` option is set.

https://github.com/Masterminds/html5-php/blob/c24cd7e31e02ccf25484bda9ea674b11b5898904/src/HTML5/Serializer/Out

[2020-06-03 07:15] goetas commented on #184
I hope to understand correctly, but your goal is to be able to define boolean attributes even when namespacing is disabled, right? (by probably having a list of tags with allowed boolean attributes, right?

[2020-06-03 10:47] bytestream commented on #184
The goal is to be able to output `=""` when no namespace is specified

[2020-06-10 10:01] IMSoP commented on #108
This appears to be the reference in the current spec: https://html.spec.whatwg.org/multipage/parsing.html#adoption-agency-algorithm

[2020-06-13 09:55] goetas commented on #108
Currently I have no usecase for implementing that parsing mode, if someone has the knowledge and time to do so, would be happy to help reviewing it.

[2020-06-14 09:13] goetas commented on #181
the bottleneck seems to be `autoclose()`..., by removing that, the script completes in 3s

[2020-06-14 13:34] goetas commented on #181
This turned out to be a PHP issue that can be workedaroud by doing

[code]
The perf issue was introduced by https://github.com/php/php-src/blob/35e0a91db717fe441a89ca9554d8843d8ee63112/ext/dom/php_dom.c and https://github.com/php/php-src/commit/84b90f639d09f002ed50c87877b62615e928b88b

[2020-06-22 13:46] IMSoP opened #185 "Retain closing br tag as though it were a normal br tag"
The WHATWG spec includes a special rule for handling `</br>`, in [the section on parsing when "in body"](https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inbody):

The result is that invalid HTML like `Hello <br>World</br>!` will be rendered by browsers as though it had two linebreaks, `Hello <br>World<br>!`. This library currently (quite reasonably!) removes the erroneous end tag

[2020-06-24 08:57] goetas commented on #185
if that is the browsers behavior, I think that we should do the same.

[2020-06-24 11:48] IMSoP commented on #185
I'll give it a go; by the looks of it, it will just need a special case at the top of `DOMTreeBuilder::endTag`

[2020-06-24 20:05] #185 closed

[2020-07-01 17:16] mundschenk-at opened #189 "Increase minimum PHP requirement to allow more modern code"
Currently, library requires PHP 5.3. This should be changed to at least PHP 5.6 to [allow the use of more modern language features](https://github.com/Masterminds/html5-php/pull/187#discussion_r448371192). Since even PHP 5.6 has [not received security updates for more than 18 months](https://www.php.net/supported-versions.php), this would not be a radical change.

[2020-07-02 07:12] goetas commented on #189
I thought in the past about it, but so far  there has been not a single feature that required more advances PHP syntax that wasn't available with php 5.3.

I'm willing to increase the version requirements if there will be some feature proposal that will need some of the more recent php features, but I'm not willing to increase the minimum version just for the sake of it.

(as example one large pro

[2020-07-02 07:12] #189 closed

[2020-07-02 07:24] mundschenk-at commented on #189
5.5 is needed to properly use exceptions (try ... finally). I've linked to the code proposal in question.

Well, it's not that previous versions suddenly vanish. Nudging the community to reduce technical debt (by, from time to time, increasing version requirements), is something that I feel large projects have duty to do, to lead by example. Running PHP versions below even 5.6 is irresponsible fro

[2020-07-02 07:48] goetas commented on #189
The code suggested in https://github.com/Masterminds/html5-php/pull/187#discussion_r448496044 does exactly the same without using the `finally` keyword.

They do not vanish, but siad projects will see suddenly disappear the "support" given by this project in providing bugfixes on this library.

I know that the minimumu supported version is a hot topic, In which I believe too. You can see that most

[2020-07-14 07:29] Mario1985-cyber opened #193 "Zip"
https://github.com/Masterminds/html5-php/blob/0f1c4f044092a5866431bc664860ba8ccf2a33e1/.travis.yml#L34

[2020-07-14 07:30] #193 closed

[2020-07-26 09:02] alecpl commented on #181
Thanks for the workaround. With it my initial test script takes 8 seconds, not that bad. DOMDocument needs 0.3 second.

Did you already create a ticket in PHP's bugtracker?

[2020-09-05 13:56] th3-sh0w3r opened #196 "How to disable DOCType, HTML, HEAD & BODY tag"
Hey,

how do I disable the (DOCType, HTML, HEAD & BODY tags)?
I just want that my Input is the same as my output.

Now:
[code]

What I want:
[code]

[2020-09-23 18:01] Jean-Beru opened #197 "Incorrect parsing of &g and &l"
Maybe I'm wrong but I think that there's a bug with "&g" and "&l".

[code]

Is returning :
[code]

[2020-09-24 09:34] Jean-Beru commented on #197
My bad. It concerns 2.7.3 but fixed in master.

[2020-09-24 09:34] #197 closed

[2020-10-08 17:40] drtheuns commented on #196
Seems to work fine for me:

[code]

No idea about those tags being escaped tho, first time looking at this libary.

[2021-01-29 07:29] AshGalm opened #199 "sum and average of set of numbers with html PHP"
i want to find a the sum and average set of numbers using html and php like this video https://www.youtube.com/watch?v=1JrdftidXQI

[2021-02-01 13:20] goetas commented on #199
This repository is a more specific tool for parsing html5 with php, it is not related to the question you 've posted

[2021-02-01 13:20] #199 closed

[2021-02-07 12:18] alecpl opened #200 "Tables parsing issue - with <tr> inside <tr> case"
When working with code generated by Microsoft Outlook I found a case where DOMDocument based parser has no problem with specific code, but HTML5 parser does.

The minimal test case input is this:
[code]
Note the `<tr>` element as a child of another `<tr>`. This causes HTML5 parser to output:
[code]
Which obviously is invalid and causes the parent table to be "closed" before it should, leaving the

[2021-02-07 13:01] goetas commented on #200
Since `<tr>` is not a valid child for `<tr>`, what would be the suggested solution here? What browsers do?

[2021-02-07 16:07] alecpl commented on #200
Both Firefox and Chrome convert the `t2` table to:
[code]

[2021-02-07 16:09] alecpl commented on #200
Sorry, I wasn't clear. The `t2` table is the same is in HTML5 output. The difference in the browser is that the outer table is not broken, i.e. the second row is where it should be.

[2021-02-08 19:48] goetas commented on #200
ah, is see, indeed those `<tr><td></td></tr>` are wrong

[2021-03-08 08:54] PerryRylance opened #201 "time tag not recognised as valid"
Found this when working with WordPress and Gutenberg's "Recent Posts" block.

This element is only "recommended" according to [this documentation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time), however it would be nice to support it rather than forcing warning suppression.

`Warning: DOMDocument::loadHTML(): Tag time invalid in Entity`

Can this be adjusted?

[2021-03-28 07:34] alecpl opened #203 "ext-mbstring should be required"
Here's why:
1. `Masterminds\HTML5\Parser\CharacterReference::lookupDecimal()` uses `mb_decode_numericentity()` unconditionally.
2. Looking at `Masterminds\HTML5\Parser\UTF8Utils::convertToUTF8()` either iconv or mbstring must be available (if the input encoding is not 'auto').

This would allow to:
1. Get rid of iconv() use. In my experience mbstring is really a better solution.
2. Remove use of u

[2021-06-08 17:43] biziclop opened #208 "loadHTML drops first TextNode of HTML fragment string"
Hi, thanks for the great project. I'm experimenting with parsing html strings. While I probably should use `loadHTMLFragment()` instead of `loadHTML()`, but I think this is still a bug.
If I try to `loadHTML()` a string which does not start with a tag but just with plain text, the first text segment is silently ignored.
In the example below, the starting text `Aaa` disappears from the regenerated

[2021-06-22 15:31] derrabus opened #209 "Please update or delete the `2.x` branch"
Hello 👋🏻

This repository has a `master` branch that is aliased for composer as `2.7-dev` and a `2.x` branch. This leads Composer (and thus Packagist as well) to believe, the 2.x branch is ahead of the master branch. You can see this on the packagist page of this package.

<img width="162" alt="Bildschirmfoto 2021-06-22 um 17 24 25" src="https://user-images.githubusercontent.com/1506493/122953297-

[2021-07-01 14:21] goetas commented on #209
@derrabus  I have deleted the outdated branch, can you let me know if the issue is fixed for you?

[2021-07-01 14:26] goetas commented on #209
BTW i have released https://github.com/Masterminds/html5-php/releases/tag/2.7.5

[2021-07-01 14:59] derrabus commented on #209
It is, thank you very much!

[2021-07-01 14:59] #209 closed

[2021-07-06 19:43] Joshdw commented on #126
For anyone stumbling upon this years later, here's how to use require version of this without composer.

`
    require_once("./HTML5.php");
    require_once("./HTML5/Elements.php");
    require_once("./HTML5/Entities.php");
    require_once("./HTML5/Exception.php");
    require_once("./HTML5/InstructionProcessor.php");
    require_once("./HTML5/Parser/EventHandler.php");
    require_once("./HTML5/

[2021-07-09 10:54] alecpl commented on #208
Duplicate of #166.

[2021-07-23 14:54] mbarreiro85 opened #210 "is adding html tags and converting > with &gt"
Hi there, thanks for your work with this package, im having some problems with it, but im parsing php files worse than that blade files and i need help starting with 2 situations

1 - Is any way to stop adding html tags to php files
2 - It is enconding > with &gt with encode option disable

regards

[2021-08-24 12:35] mat-hew1 commented on #129
The current version 2.7.5 still returns svg as text node:
[code]
Source:
[code]
Equal, if image with separate closing tag or self-closing.

[2021-08-24 17:04] mat-hew1 opened #211 "Parser returns SVG as text-node"
The current version 2.7.5 still returns svg as text node:
[code]
Source:
[code]
Equal, if image with separate closing tag or self-closing.

_Originally posted by @mat-hew1 in https://github.com/Masterminds/html5-php/issues/129#issuecomment-904601890_

[2022-03-23 12:17] Lofesa opened #212 "Question"
Hi
I come here to ask a, maybe, dumb question.
I used a WP plugin that uses this library to make changes to the html. This html contain inlined svg like:

`< svg xmlns= "https://www.w3.org/2000/svg" some stuff here ></svg>`

After get parsed this becomes:

`< svg some stuff here /></svg>`

Is there any way to preserve the xmlns attribute and don´t set the autoclosig / ?

Thx in advance.

[2022-05-16 12:41] ilhanyumer opened #214 "No documentation for “Event-based (SAX-like) parser”"
What is event-based parser? And most importantly; is there any example for the event-based parser?

[2022-08-06 16:15] alecpl commented on #203
Actually utf8_decode() is deprecated in PHP 8.2, and will be removed later. So, this is more like a bug now.

[2022-08-11 09:35] leeN opened #215 "Uninitialized string offset in src/HTML5/Parser/Scanner.php:108"
Hello!

I'm playing around with some PHP sanitization libraries and found the following issue in your HTML parser:

The Scanner::peek() method attempts to read beyond the string's end in some cases. From looking at the strack trace it seems like [this](https://github.com/Masterminds/html5-php/blob/master/src/HTML5/Parser/Scanner.php#L107) check is wrong (I think it should be `<` instead of `<=` as

[2022-08-12 08:21] ohader opened #216 "ref"

[2022-08-12 08:22] ohader commented on #216
(reserved reference)

[2022-08-18 10:36] ohader opened #217 "Correctly handle comment end bang state"
See section 8.2.4.52 of W3C HTML5 specs:
https://www.w3.org/TR/2017/REC-html52-20171214/syntax.html#comment-end-bang-state

[2022-08-18 16:15] #215 closed

[2022-08-18 16:15] #217 closed